@model RFGenLicensingPortal.Models.HeaderViewModel

@{if (Model.bAddNew)
  {
    <li class="nav-item ">
      <a class="nav-link" href="/Home/NewRecord">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  }
}